/*
p {
    color: #6690A5;
    background: #A1B7C2;
}
a {
   color: #C0D0D9; 
}
:hover {
    color: #A1B7C2;
*/
body {
    background-image:url(../media/portfolioback.jpg); 
    background-repeat: repeat;
    background-size: 100%;
}
html, body {
    height: 100%;       
}
h1 h2{
    color: rgb(31, 42, 53);
}
p {
    font-size: 16px;
    background: linear-gradient(rgba(102, 144, 165, 0.589), rgba(161, 183, 194, 0.411), rgba(192, 208, 217, 0.616));
    color: #1f252b;
    border-radius: 4px;
}
img:hover {
    box-shadow: 4px 4px 5px rgb(52, 68, 77);
}
.nav {
    width: 100%;
}
.outternav {
    background: rgb(31, 37, 43); 
    width: 100%;  
}
.topnav {
    list-style: none; 
    font-size: 16px;    
}
.topnav li {
    display: inline;    
}
.topnav a {
    text-decoration: none;
    color: rgb(192, 208, 217); 
    margin-right: 20px;
}
.photodiv {
    width: 648px;
    height: 396px;
    margin: 0 auto;
}
.name {
    margin-left: 173px;
    width: 306px;
}
.myphoto {
    height: 285px;
    border-radius: 50%; 
    margin-left: 181px;
    /*width: 257px;*/ 
}
.main {
    height: 483px;
    margin-top: 100px;
    background: repeating-radial-gradient(rgba(102, 144, 165, 0.616), rgba(161, 183, 194, 0.411), rgba(192, 208, 217, 0.616));
}
.aboutmediv {
    text-align: center;
    top: 20px;
    margin-top: 20px;
}
.descriptiondiv {
    width: 440px;
    margin-left: 460px;    
}
.description {
    color: rgb(31, 37, 43);
    font-size: 16px;
    background: linear-gradient(rgba(102, 144, 165, 0.72), rgba(161, 183, 194, 0.411), rgba(192, 208, 217, 0.616));
    color: rgb(31, 37, 43);
    border-radius: 4px;
    border: 1px solid rgb(91, 127, 144);
}
.projecth2 {
    margin-left: 45px;
}
.projectdiv {
    text-align: center;
    margin-top: 20px;    
}
.projectdiv {
    width: 510px;
    margin-left: 305px;
}
.project {
    text-align: center;
}
.airbox {
    height: 175px;
}
.detroix {
    height: 175px;
}
.detrioxp {
    background: linear-gradient(rgba(102, 144, 165, 0.616), rgba(161, 183, 194, 0.411), rgba(192, 208, 217, 0.616));
}
.venedor {
    height: 175px;
}
.seecode {
    background: rgba(138, 150, 164, 0.603);
    border-radius: 5px;
    color: rgb(31, 37, 43);
    padding: 5px;
    border: 0.8px solid rgba(158, 223, 255, 0.63);
}
.seecode:hover {
    text-transform: uppercase;
    color: rgb(31, 37, 43);

    text-shadow: 2px 2px 5px rgb(165, 214, 238);
    box-shadow: 3px 3px 5px rgb(50, 64, 71);
    text-decoration: none;
}
.outterftr {
    background: linear-gradient(rgba(102, 144, 165, 0.493), rgba(161, 183, 194, 0.493), rgba(192, 208, 217, 0.616));
}
.ftr {
    margin-top: 80px; 
}
.contactdiv {
    text-align: center;
    margin-top: 20px;
}
.social {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 20px;
    color: rgb(31, 37, 43);
}
.social:hover {
    text-decoration: none;
    text-shadow: 2px 2px  5px  rgb(31, 37, 43);
}
